<div class="main-content">
  <section class="categories-article">
      <div class="categories-article-items">
        <div class="image order1 order-sm-2" data-aos="fade-right" data-aos-delay="300">
          <img src="https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/55290b3f3869f6db4ed16c57_desk1.jpeg"
            alt="" width="300">
        </div>
        <div class="categories-first-article">
          <% @categories.each do |category| %>
            <% if category.articles.present? %>
              <div class="cat-content">
                <%= link_to categories_path(category: category.name) do %>
                  <div class="image ripple">
                  </div>
                  <div class="cat-image">
                    <%= image_tag(Article.category_first_article(category).featured_image_url, alt: Article.category_first_article(category).title ) %>
                  </div>
                  <div class="cat-title">
                    <h4 class="cat-name"><strong><%= category.name.capitalize %></strong></h4>
                    <strong><%= Article.category_first_article(category).title %></strong>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <%# <h2>Creative & <br>fresh</h2>
          <h4>Our digital agency</h4>
          <p>Focus infographic venture business model canvas gamification ecosystem. Business plan gamification user
            experience low hanging fruit twitter. Metrics research & development market paradigm shift growth hacking
            disruptive user experience iPad social media angel investor alpha. Social proof lean startup alpha scrum
            project non-disclosure agreement.</p>
          <button class="btn">View Portfolio</button> %>
        </div>
      </div>
  </section>
</div>
