<%= form_for(current_user.bookmarks.build, remote: true) do |f| %>
  <%= hidden_field_tag :article_id, @article.id %>
  <span class="bookmark">
      <%= f.button fa_icon("bookmark"), class: "vote-button" %> &nbsp;
  </span>
<% end %>
