
$primary_color1: #eb3007;
$primary_color2: #4e443e;
$secondary_color1: #fff;

$font_header: 'Montserrat', sans-serif;
$font-subheader: 'Vollkorn', serif;
$font-para: 'Source Sans Pro', sans-serif;

@mixin flex-item {
  display: flex;
  align-items: center;
}

/* Global  */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    font-size: 10px;
    font-family: $font_header;
    color: #333;
    scroll-behavior: smooth;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

ul li{
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

// General

h2 {
  font-family: $font_header;
  font-size: 4rem;
  letter-spacing: -2px;
  line-height: 1;
  font-weight: 700;
}

h4 {
  font-family: $font_subheader;
  font-weight: 200;
  font-size: 1.5rem;
  margin: 1rem 0 2.5rem;
  transform: scale(1, 1.1);
}

p {
  font-family: $font_para;
  font-size: 1.4rem;
  color: #666;
  line-height: 1.5;
}

.main-content {
  transform: translateY(61px);
}

.alert.alert-dismissible {
  margin-bottom: 0;
  padding: 1.4rem;
}

.alert {
  font-size: 1.3rem;
  position: fixed!important;
  width: 100%;
  transform: translateY(60px);
}

.image.ripple {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
}

.image.ripple::before,
.image.ripple::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 2000ms ease-out;
}

.image.ripple::before {
  background: linear-gradient(45deg,rgba(255, 255, 255, 0.4), transparent, transparent);
  top: -100%;
  right: -100%;
}

.image.ripple::after{
  background: linear-gradient(-135deg,rgba(255, 255, 255, 0.4), transparent, transparent);
  bottom: -100%;
  left: -100%;
}

.image.ripple:hover::before {
  top: 100%;
  right: 100%;
}

.image.ripple:hover::after {
  bottom: 100%;
  left: 100%;
}


/* NavBar */

header {
  position: relative;
}

.nav {
  @include flex-item;
  justify-content: space-between;
  padding: 0.8rem;
  width: 100%;
  background-color: $secondary_color1;
  position: fixed;
  z-index: 100;
  opacity: 1;
  box-shadow: 1px 1px 5px #b5b0b0;

  &.scrolled {
    opacity: 1;
    background-color: $primary_color2;
    transition: all 650ms linear;
    box-shadow: 1px 1px 3px #352f2b;
  }

  &.none {
    opacity: 0;
    visibility: hidden;
    background-color: $primary_color2;
    transition: all 650ms linear;
  }

  .icon,
  .nav-item.brand,
  .nav-navbar.small {
    display: none;
  }

  .nav-brand a:hover {
    text-decoration: none;
  }

  .nav-brand span{
    font-size: 3rem;
    font-family: $font-subheader;
    color: $primary_color1;
    margin-left: 2rem;
  }

  .navbar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbar {
    @include flex-item;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .divider {
    font-weight: bolder;
    color: #6e6c6a;
  }

  .cat-links .nav-link.scrolled:not(.current) {
    color: $secondary_color1;
  }


  .nav-link {
    position: relative;
    font-weight: 700;
    line-height: 1;
    font-size: 1.3rem;
    color: #6e6c6a;
    font-family: $font_header;
    text-transform: uppercase;

      &:hover,
      &.current {
        color: $primary_color1;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.5rem;
        background-color: $primary_color1;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;
      }

      &:hover::before,
      &.current::before {
        transform: scaleX(1);
      }
    }

    .profile {
      margin-right: 2rem;

      .profile-img-lg {
        border-radius: 50%;
        width: 40px;
      }

      .profile-img-sm {
        border-radius: 50%;
        width: 30px;
      }

      .profile-name-content {
        @include flex-item;
      }

      .profile-name {
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
      }

      .profile-dropdown {
        position: absolute;
        background: $secondary_color1;
        right: 0;
        padding: 2rem;
        display: block;
        border-top: 6px solid $primary_color1;
        z-index: 100;
        top: 6rem;
        width: 20rem;
        transition: all 650ms ease;
        opacity: 0;
        visibility: hidden;

        .nav-item {
          padding: 1rem;
        }

        .nav-item:not(.last) {
          border-bottom: 1px inset #d9d9d9;
        }

        .nav-link {
          font-size: 1.2rem;
          display: block;
          border-bottom: 1px solid rgba(255, 255, 255, 0.05);
          padding: 1rem;

          &:before {
            display: none;
          }
        }

        &:before {
          content: "";
          position: absolute;
          top: -2.5rem;
          right: 3.5rem;
          border: 1.2rem solid transparent;
          border-bottom-color: $primary_color1;
        }

      }

      &:hover > .profile-dropdown {
        opacity: 1;
        visibility: visible;
      }
    }
  }


// Media Queries

@media only screen and (max-width: 768px) {
  // General

  h2 {
    font-size: 3.5rem;
  }

// NavBar

  .nav {
    padding: 0;

    .navbar-content {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: initial;
      width: 250px;
      position: absolute;
      top: 0;
      background-color: $primary_color2;
      margin-top: 50px;
      height: 100vh;
      transform: translateX(-100%);
      opacity: 0;
      transition: transform, opacity;
      transition-duration: 650ms;
    }


    .navbar-content.open {
      transform: translateX(0%);
      opacity: 1;
      transition: transform, opacity;
      transition-duration: 650ms;
    }

    .nav-navbar.large,
    .divider {
      display: none;
    }

    .nav-navbar.small {
      @include flex-item;
      justify-content: space-between;
      padding: 1rem 2rem;
      width: 100%;
      height: 50px;
    }

    .close-icon.icon {
      color: #000;
      position: absolute;
      right: 2rem;
      top: 3rem;
    }

    .navbar {
      flex-direction: column;
      justify-content: flex-start;
      align-items: initial;

      .nav-item {
        padding: 1.2rem;
      }

      .nav-link {
        font-size: 1.2rem;
        display: block;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);

        &::before {
          background: $primary_color1;
        }

        &.current,
        &:hover {
          color: $primary_color1;
        }
      }

      &.reg-items .prof .nav-link {
        text-transform: capitalize;
      }
    }


    .menu-toggler {
      width: 30px;
      cursor: pointer;

      .bar {
          background: linear-gradient(to right, $primary_color1, $primary_color2);
          width: 100%;
          height: 4px;
          border-radius: 0.8rem;
          margin: 0.5rem;
          transition: all 650ms;
      }

      &.open {
        .middle.bar {
          display: none;
        }

        .start.bar {
          transform: rotate(-45deg) translateX(-0.65rem);
        }

        .end.bar {
          transform: rotate(45deg) translateX(-0.65rem);
        }
      }
    }

    .profile {

      .profile-img-lg {
        display: none;
      }

      .profile-img-sm {
        padding-left: 0;
        width: 50px;
      }

      .profile-name {
        color: #fff;
      }

      .profile-dropdown {
        position: initial;
        opacity: 1;
        visibility: visible;
        border-top: none;
        background: transparent;
        padding: 0;

        .nav-item:not(.last) {
          border-bottom: none;
        }

        .nav-link {
          padding: 0.5rem 1rem;
        }

        &:before {
          display: none;
        }
      }
    }
  }
}
