$primary_color1: #fd6000;
$primary_color2: #4e443e;
$secondary_color1: #fff;
$primary_hover_color1: #da5807;

$font_header: 'Arial', sans-serif;
$font-subheader: 'Arial', serif;
$font-para: 'Source Sans Pro', sans-serif;

@mixin flex-align-item {
  display: flex;
  align-items: center;
}
