// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.categories-article {
  .categories-first-article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .cat-content {
    position: relative;

    .cat-image,
    .cat-image img {
      width: 100%;
      height: 100%;
    }

    .cat-title {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 1.2rem;
      color: #fff;
      font-size: 1.5rem;

      .cat-name {
        color: #fff;
        align-self: flex-start;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          background: #edeb0b;
          width: 100%;
          height: 3px;
        }
      }
    }
  }
}
