@import "global_style.scss";

.main-content {
  transform: translateY(61px);
  min-height: 100vh;
  margin-bottom: 100px;

  .no-article-text {
    transform: translateY(60px);
    padding: 6rem;
  }

  .categories-first-article {
    display: flex;
  }

  .section-content {
    position: relative;
    display: block;
    flex: 1 1 20%;

    &.featured-article-content {

      .featured-article-image {
        height: 400px;
      }

      p {
        color: #fd6000;
        font-size: 2rem;
      }
    }

    p {
      color: #fff;
      margin-bottom: initial;
    }

    .cat-title {
      justify-content: flex-end;
    }

    .cat-image {
      width: 100%;
      height: 230px;
    }

    .cat-infos {
      position: relative;
    }

    .cat-title {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 1.2rem;
      color: #fff;
      font-size: 1.5rem;
      strong {
        background-color: rgba(0,0,0, 0.3);
        padding: 10px;
      }

      .cat-name {
        color: #fff;
        align-self: flex-start;
        position: relative;
        top: 3px;

        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          background: #edeb0b;
          width: 100%;
          height: 3px;
        }
      }
    }

    .cat-text {
      text-align: justify;

      p {
        color: #121212;
        font-family: $font-subheader;
        font-size: 1.5rem;
      }

      .attr {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.4rem;

        > * {
          display: flex;
          align-items: center;
          margin: 0 1rem;
          color: #fd6000;
        }
      }
    }
  }

  .article-sections {
    transform: translateY(61px);
  }
  .article-section-contents {
    width: 95%;
    margin: 0 auto;

    .todays-spotlight-header {

      h2 {
        background: #fd6000;
        display: inline;
        font-size: 2.6rem;
        font-family: $font-subheader;
        padding: 0.7rem;
        color: #4e443e;
        position: relative;
        border-radius: 13px 0;
        box-shadow: -2px 6px 6px 2px rgba(0, 0, 0, 0.3);

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 2px;
          background: #fd6000;
        }

      }
    }

    .all-category-articles {
      margin: 7rem 0;
    }

    .spotlight-items {
      margin-top: 2rem;

      .spotlight-items-article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
      }

    }
  }

  .editors-articles {
    margin-bottom: 80px;
    .editors-pick-header h2{
      font-size: 3rem;
      color: #4e443e;
    }

    .all-editors-picks {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 2rem;
      margin: 0 auto;
      width: 89%;

      .cat-image.editors-pick-img,
      .cat-image.editors-pick-img img {
          height: 150px;
      }

      p.title {
        color: #fd6000;
        font-size: 1.4rem;
        text-align: center;
      }
    }
  }
}



// Media Queries

@media only screen and (max-width: 748px) {
  .main-content {
    transform: translateY(51px);

    .categories-article {
      .section-content {
          height: 230px;

          &.featured-article-content p {
            font-size: 1.5rem;
          }

          .featured-article-image {
            height: 100%;
          }

          p {
            font-size: 1.3rem;
          }
        }
      }

      .editors-articles {
        .all-editors-picks {
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 1rem;

          > * {
            padding: 0;
          }
        }

        .cat-image.editors-pick-img,
        .cat-image.editors-pick-img img {
            max-height: 180px;
        }
    }
  }
}


@media only screen and (max-width: 530px) {
  .main-content {

    .categories-article {
      .categories-first-article {
        flex-direction: column;
      }
    }

    .article-sections {
      .todays-spotlight-header {
        width: 100%;
      }

      .spotlight-items {
        .spotlight-items-article {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-row-gap: 2rem;
        }
      }
    }


    .editors-articles {
      .all-editors-picks {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0.8rem;

      }
    }
  }
}
