<div class="main-content category-articles">
  <div class="category-articles-all">
    <div class="section-heading text-center">
      <h1 class="display-4"><%= @category.name.capitalize %></h1>
    </div>
    <%= render 'index' %>
  </div>
</div>
