    <footer class="footer">
      <div class="section-container">
        <div class="footer-content d-flex align-items-center justify-content-between">
          <div class="nav-brand">
              <a href="/">
                <div class="nav-brand brand-footer">
                  <span>LifeOpedia!</span>
                </div>
              </a>
            </div>
          <div class="copyright">
            <p>Privacy Policy Terms & Conditions <br><span> Copyright &copy; 2020. All rights reserved.</span></p>
          </div>
          <div class="connect">
            <span>Connect with us </span>
            <span class=footer-icon>
              <%= link_to fa_icon('facebook', type: :brand ), "#" %>
              <%= link_to fa_icon('twitter', type: :brand ), "#" %>
              <%= link_to fa_icon('instagram', type: :brand ), "#" %>
            </span>
          </div>

        </div>
      </div>
    </footer>
