<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Lifestyle", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", '#' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log in", '#' %></li>
        <li><%= link_to "Register", signup_path %></li>
      </ul>
    </nav>
  </div>
</header>
